@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

:root {
  --main-color: rgba(77, 188, 195, 0.5);
  --background: #333;
  --black: #000;
  --white: rgb(210, 210, 210);
  --header: #48a1a7;
}

body {
  background-color: var(--background);
  direction: rtl;
}

/* header style starts */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: 2px 2px 5px var(--black);
  font-weight: 300;
}

header h1 span {
  color: var(--header);
  font-weight: 800;
}

/* header style ends */

/* main style starts */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 5rem 0;
  flex-direction: column;
  gap: 5rem;
}

/* main style ends */

/* card section style starts */

#card {
  width: 100%;
  display: grid;
  column-gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
}

/* card section style ends */

/* description box style starts */

#card div:nth-child(1) {
  background-color: var(--main-color);
  padding: 1rem 4rem;
  border-radius: 20px;
  color: var(--white);
  box-shadow: 0px 5px 50px #222222;
  outline: 3px solid #222;
}

#card div:nth-child(1) ul {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  margin-right: 1.5rem;
  font-size: 0.9rem;
}

/* description box style ends */

.leaderboard {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  border-radius: 20px;
  color: var(--white);
  box-shadow: 0px 5px 50px #222222;
  outline: 3px solid #222;
}

.leaderboard table,
.leaderboard thead,
.leaderboard tbody {
  width: 100%;
}

.leaderboard table thead tr {
  display: flex;
  justify-content: space-between;
}

.leaderboard table thead tr td{
  border-bottom: 1.5px solid #222;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
}

.leaderboard table thead tr td:nth-child(2) {
  text-align: center;
}

.leaderboard table tbody,
.leaderboard table {
  height: 100%;
}

.leaderboard table tbody,
.leaderboard table thead {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.leaderboard table tbody {
  margin-top: 1rem;
}

.leaderboard table tbody tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leaderboard table tbody tr td{
  border-bottom: 1.5px solid #222;
  padding-bottom: 0.2rem;
  width: 100%;
}

.leaderboard table tbody tr td:nth-child(2) {
  text-align: center;
}

/* leaderboard box style ends */

/* play section style start */

#play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

#play input {
  width: 40%;
  padding: 0.4rem 1rem;
  background-color: inherit;
  border: 2px solid var(--main-color);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.1rem;
}

#play a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--main-color);
  padding: 0.5rem 4rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 4px #222;
}

#play a:hover {
  background-color: inherit;
  border: 2px solid var(--main-color);
}

/* play section style ends */